* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: #2c2c2c;
}

#tray {
    background-color: #2c2c2c;
    border-radius: 3px;
    margin: 10px 15px 10px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 3px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    background: #1a1a1a;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border: 0px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #ffffff;
    background: #2c2c2c;
    border-radius: 3px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;

    border-bottom: 2px solid #60cdff;
    padding-bottom: 2px;
}

#workspaces button:hover {
    color: #ffffff;
    background: #2c2c2c;
    border-radius: 3px;
}

#custom-todo {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 16px;
    margin-left: -12px;
}

#custom-todo-icon {
    font-size: 20px;
    margin-left: -2px
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-agenda {
    background-color: #2c2c2c;
    font-family: "Helvetica";
    font-weight: 600;
    margin: 10px 7px 10px -6px;
    padding: 5px 11px 5px 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 16px;
}


#custom-bluelight,
#custom-agenda-icon,
#custom-nix-icon {
    color: white;
    background: #1a1a1a;
    font-weight: bold;
    margin-right: 4px;
    margin-left: -6px;
    margin: 10px 4px 10px -6px;
    padding-left: 0px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#custom-bluelight,
#custom-nix-icon {
    font-size: 18px;
    color: white;
    margin-right: 0px;
    padding-right: 4px;
    margin-left: -2px;
    padding-left: 14px;
    border-radius: 3px;
}

#custom-bluelight {
    padding-right: 0px;
}

#custom-agenda-icon {
    background-color: #2c2c2c;
    font-size: 16px;
    margin-left: 8px;
    padding-left: 16px;
    color: white;

}

.modules-left {
    background: #1a1a1a;
    color: #ffffff;
    border-radius: 3px;

    margin-top: 3px;
    margin-left: 4px;
    margin-bottom: 5px;
    margin-right: 5px;

    padding-left: 5px;
}

.modules-right {
    background: #1a1a1a;
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 8;
    border-radius: 3px;
}

#custom-notification {
    font-size: 18px;
    margin-right: 12px;
}

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

#clock {
    background-color: #2c2c2c;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 10px 3px 10px;
    margin: 10px 15px 10px 0px;
}

#mpris,
#custom-audio-interface,
#pulseaudio {
    background-color: #2c2c2c;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#mpris {
    margin-left: 6px;
}

#battery {
    background-color: #2c2c2c;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
    padding: 2px 10px 0px 11px;
    margin: 10px 15px 10px 0px;
}

#battery.charging,
#battery.plugged {
    color: #000000;
    background-color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    margin: 0px;
    margin-bottom: 2px;
    padding: 0px;
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
}

#network.disconnected {
    color: #1e1e1e;
}
