* {
  font: "Roboto 13";

  bg0    : #080808f0;
  bg1    : #101010f2;
  bg2    : #141414;
  bg3    : #1b1b1bf2;
  bg4    : #242424;
  fg0    : #ffffff;
  fg1    : #b0b0b0;
  accent : #2a2a2a;
  urgent : #2a2a2a;

  background-color : transparent;
  text-color       : @fg0;

  margin  : 0;
  padding : 0;
  spacing : 0;
}

configuration {
    modi:                       "drun";
    show-icons:                 true;
}

element-icon, element-text, scrollbar {
  cursor: pointer;
}

window {
  location : center;
  anchor   : center;
  width    : 760px;
  height   : 620px;

  background-color : @bg1;
  border           : 1px;
  border-color     : #1f1f1f;
  border-radius    : 3px;
}

mainbox {
  padding : 16px;
  spacing : 14px;
}

inputbar {
  padding          : 12px;
  spacing          : 8px;
  children         : [ textbox-search, entry ];
  border           : 1px solid;
  border-color     : #1f1f1f;
  border-radius    : 3px;
  background-color : @bg2;
}

textbox-search {
  str: " ";
  font: "JetBrainsMono Nerd Font 16";
  text-color: @fg1;
  expand: false;
}

entry, element-icon, element-text {
  vertical-align: 0.5;
}

entry {
  font              : "Roboto 14";
  placeholder       : "Type here to search";
  placeholder-color : @fg1;
}

textbox {
  padding          : 4px 8px;
  background-color : @bg2;
}

listview {
  columns       : 1;
  spacing       : 8px;
  fixed-height  : true;
  fixed-columns : true;
}

element {
  spacing       : 1em;
  padding       : 10px 12px;
  border        : 1px;
  border-color  : transparent;
  border-radius : 3px;
}

element normal urgent {
  text-color: @fg0;
}

element normal active {
  text-color: @fg0;
}

element alternate active {
  text-color: @fg0;
}

element selected active {
  text-color: @fg0;
}

element selected {
  background-color: @bg3;
  border-color: @bg4;
}

element selected urgent {
  background-color: @urgent;
}

element-icon {
  size: 1.5em;
}

element-text {
  text-color: inherit;
  highlight: bold;
}
