* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: #0e0e0e;
    background-size: cover;
    font-size: 16pt;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(0, 0, 0, 0);
    animation: gradient_f 20s ease-in infinite;
    border-radius: 6px;
    border: 0px;
    transition:
        all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
        box-shadow 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
    color: #cdd6f4;
    text-shadow: none;
}

button:focus {
    background-size: 22%;
    border: 0px;
}

button:hover {
    background-color: #1e1e1e;
    opacity: 0.8;
    color: #ffffff;
    background-size: 30%;
    margin: 30px;
    border-radius: 6px;
    border-bottom: 1px solid #60cdff;
}

button span {
    font-size: 1.2em;
}

#lock {
    margin: 10px;
    border-radius: 6px;
    background-image: image(url("icons/lock.png"));
}

#logout {
    margin: 10px;
    border-radius: 6px;
    background-image: image(url("icons/logout.png"));
}

#suspend {
    margin: 10px;
    border-radius: 6px;
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    margin: 10px;
    border-radius: 6px;
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    margin: 10px;
    border-radius: 6px;
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    margin: 10px;
    border-radius: 6px;
    background-image: image(url("icons/reboot.png"));
}
